*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section.main .menu{
    padding: 20px;
    display: flex;
    width:100%;
    align-items: start;
    justify-content: space-between;
}

section.main .logo img{
    width: 200px;
    margin-top: -35px;
}

.menu-nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body{
    background-color: rgb(74, 76, 60);
}

.design{
    margin-top: 100px;
}

.design p{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: white;
}

.design h2{
    width: 80%;
    margin-left: 200px;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.projetos{
    width: 100%;
}

.design h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;
}


.projetos .fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.detalhe{
    width: 4%;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 1%;
    margin-left: 47%;
    z-index: 100;
}

.projetos iframe{    
    margin-top: 10px;
    width: 800px;
    height:  600px;
} 
 

.projetos iframe:hover{
    padding: 5px;
}  

footer .rodape{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    align-items: center;
    height: 80px;
    font-size: 1rem;
    width: 100%;
    display:flex;
    text-align: center;
    justify-content: space-around;
}

.botão{
    text-align: center;
    width: 100%;
}

.botão a{
    color: rgb(74, 76, 60);
    text-decoration: none;
    width: 100%;
}

.botão h1{
    background-color: white;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-left: 45%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    padding: 10px;
}

footer .rodape img{
    width: 20px;
    height: 20px;
    align-items: center;
    vertical-align: -3px;
}

@media screen and (max-width: 768px){
    section.main .logo img{
        width: 40%;
        margin-top: -8%;
    }

    .menu-nav a{
        font-weight: 100;
        font-size: 25px;
    }
    
    .design{
        margin-top: 50px;
        text-align: center;
    }

    .design p{
        font-size: 1.7rem;
        font-weight: 400;
        margin-left: 45px;
    }

    .detalhe{
        width: 8%;
        height: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 10px;
        margin-left: 45%;
        z-index: 100;
    }

    .design h2{
        margin-top: 12px;
        margin-left: 50px;
        font-size: 1.1rem;
        font-weight: 100;
    }

    .design h1{
        margin-bottom: -160px;
        margin-top: 80px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }

    .projetos{
        width: 90%;
    }
    
    .projetos .fotos{
        margin-top: 200px;
        margin-left: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .projetos iframe{  
        margin-top: 1px;
        width: 400px;
        height: 250px;
    }

    .botão h1{ 
        font-size: 10px;
        width: 100px;
        height: 30px;
        text-align: center;
        margin-left: 37%;
    }

    footer .rodape{
        font-size: 10px;
        margin-top: 30px;
        display: inline-flex;
        justify-content: space-around;
    }

    footer .rodape img{
        width: 12px;
        height: 12px;
        vertical-align: -3px;
      }
}

